<footer [hidden]="noTodosClass$ | async">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <span class="badge rounded-pill bg-secondary">
        {{ activeCount$ | async }}
      </span>
      <strong> {{ itemsLeftText$ | async }}</strong>
    </div>
    <div class="list-group list-group-horizontal">
        <a
          class="list-group-item list-group-item-action"
          href="/"
          [ngClass]="{ active: true }"
          (click)="changeFilter($event, filterEnum.all)"
          >All</a
        >
        <a
          class="list-group-item list-group-item-action"
          href="/"
          [ngClass]="{ active: true }"
          (click)="changeFilter($event, filterEnum.active)"
          >Active</a
        >
        <a
          class="list-group-item list-group-item-action"
          href="/"
          [ngClass]="{ active: true }"
          (click)="changeFilter($event, filterEnum.completed)"
          >Completed</a
        >
    </div>
  </div>
</footer>
