<footer [hidden]="noTodosClass$ | async">
  <div class="d-flex justify-content-between align-items-center">
    <div class="p-2 border rounded position-relative">
      {{ itemsLeftText$ | async }}
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{ activeCount$ | async }}
      </span>
    </div>

    <div class="list-group list-group-horizontal">
      <a
        class="list-group-item list-group-item-action"
        href="/"
        [ngClass]="{ active: (filter$ | async) === filterEnum.all }"
        (click)="changeFilter($event, filterEnum.all)"
        >All</a
      >
      <a
        class="list-group-item list-group-item-action"
        href="/"
        [ngClass]="{ active: (filter$ | async) === filterEnum.active }"
        (click)="changeFilter($event, filterEnum.active)"
        >Active</a
      >
      <a
        class="list-group-item list-group-item-action"
        href="/"
        [ngClass]="{ active: (filter$ | async) === filterEnum.completed }"
        (click)="changeFilter($event, filterEnum.completed)"
        >Completed</a
      >
    </div>
  </div>
</footer>
