<section [hidden]="noTodoClass$ | async" class="my-3 overflow-auto" style="height: 300px;">
  <!-- [ngClass]="{ hidden: noTodoClass$ | async }" -->

  <div class="form-check mb-3">
    <input
      type="checkbox"
      [checked]="isAllTodosSelected$ | async"
      (change)="toggleAllTodos($event)"
      id="toggle-all"
      class="form-check-input"
    />
    <label for="toggle-all" class="form-check-label"
      >Mark all as completed</label
    >
  </div>
  <ol class="list-group list-group-numbered">
    <app-todo
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
      class="app-todost-group-item"
    >
    </app-todo>
  </ol>
</section>
